<h2 class='home'>HOME PAGE</h2>

<h2>URL: <%= request.original_url %></h2>
<br>
<h2>secret_key_base: <%= Rails.application.secret_key_base %></h2>
<br>
<h2>encrypted_salt: <%= Rails.application.config.action_dispatch.encrypted_cookie_salt %></h2>
<br>
<h2>encrypted_signed_salt: <%= Rails.application.config.action_dispatch.encrypted_signed_cookie_salt %></h2>
<br>
<h2>signed_salt: <%= Rails.application.config.action_dispatch.signed_cookie_salt %></h2>
<br>
<h2 class='created'>Session test content: <%= session[:sinai_authenticated_test] %></h2>
<br>
<img src="https://test-iiif.library.ucla.edu/iiif/2/healthcheckimage/full/!200,200/0/default.jpg">
