<h3 class='created'><small>@token_success: </small> <%= @token_success %> </h3>
<h3 class='created'>original_url: <%= @original_url %></h3>
<br/>
<% if flash[:error].present?%>
  <div style="color:tomato">
    <%= flash[:error].html_safe %>
  </div>
<% end %>

<%= @path_check %>
<p>To access the images, please register for an account by clicking the Login button below.</p>
<%= button_to 'Send Token to EMEL for Sinai Login', ENV['SINAIID_URL'], params: {'key' => ENV['SINAIID_UCLA_KEY'], callback_url: "#{@original_url}", token: @token}, method: :post, class:'button'  %>

<!-- https://api.rubyonrails.org/v6.0.0/classes/ActionController/ParamsWrapper.html -->
