<!DOCTYPE html>
<html>
  <head>
    <title>Sinaipoc</title>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/mirador@2.6.0/dist/css/mirador-combined.min.css">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style type="text/css">
      #viewer {
        width: 90%;
        height: 90%;
        margin-left: 10px;
        margin-top: 10px;
        position: fixed;
      }
    </style>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
